.container {
   display: flex;
   background-color: greenyellow;
}
img{
   margin-top: 60px;
   margin-left: 10px;
   margin-right: 10px;
   widht: 60px;
   height: 60px;
   border: 1px solid red;
   border-radius: 50px;
}
.textContainer{
   display: flex;
   margin: 10px;
   padding: 10px;
   background-color: black;
   border-radius: 14px;
}

.name{
   color: cornflowerblue;
   margin-top: 0px;
   margin-bottom: 31px;
}
.message{
   color: white;
   margin-top: 0px;
}
.time{
   color: gray;
   margin-left: 20px;
   margin-top: 53px;
}
