.wrapper {
    padding: 10px;
    background-color: cornflowerblue;
}
.affair{
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 5px 10px;
}
.affairName{
    font-weight: bold;

}
.affairPriority{
    font-style: italic;
}
.button{
    margin-left: 10px;
}
.button:focus{
    color: darkcyan;
}
